{% extends"base.html.twig" %}

{% block title %}Livre - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForBook.css">
{% endblock %}

{% block body %}

{#    <h1>Detail du livre :<a href="?controller=Livre&action=getOne&param={{ livre.id }}">{{ livre.titre }}</a></h1>#}
    <h1>{{ livre.titre }}</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="/images/{{ livre.livre_image }}" alt="Couverture du Livre {{ livre.titre }}">
        </div>
        <div class="col-6" >
        <p> Titre du livre : {{ livre.titre }}</p>
        <p> Auteur : {{ livre.auteur }}</p>
        <p>Editeur : {{ livre.editeur }}</p>
        <p>Nb_pages : {{ livre.nb_pages }}</p>
        <p>Date de publication : {{ livre.date_publication }} </p>
        </div>

{% endblock %}

{% block javascript %}
    <script src="/assets/js/detail_livre.js"></script>
{% endblock %}

