{% extends"base.html.twig" %}

{% block title %}Livre - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForBook.css">
{% endblock %}

{% block body %}

    {% if livreList is defined %}
        <h1 style="text-align: center; margin: 1em">Liste des Livres</h1>
        {% for book in livreList %}
            <p id="intitule">Livre  : {{ book.titre }}</p>
            <p id="intitule">Auteur  : {{ book.auteur }}</p>
            <button class="btn btn-info" onclick="window.location.href= '?controller=Livre&action=getone&param={{ book.id }}'">Detail</button>
            <hr>
        {% endfor %}
    {% else %}
        <h1>Détail de {{ lIVRE.TITRE }}</h1>
        <h2>{{ Livre.AUTEUR }}</h2>
    {% endif %}

{% endblock %}